<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schoolmanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchoolManagement">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SchoolManagement.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SubjectSelector" android:label="Subject Selection"/>
        <activity android:name=".Attendance" android:label="Attendance"/>
        <activity android:name=".TimeTable" android:label="TimeTable"/>
        <activity android:name=".MarkSheet" android:label="MarkSheet"/>
        <activity android:name=".Profile" android:label="Profile"/>
        <activity android:name=".Login" android:label="Login"/>
        <activity android:name=".SignUp" android:label="Sign Up"/>
        <activity android:name=".Home" android:label="Home"/>
    </application>

</manifest>